
h1{
    color:goldenrod
}
 .b{
    color:aqua
}
p{
    color:blue
}
.c{
    color:blueviolet

}
.a{
color:brown
}
.d{
    color:chartreuse
}
.e{
    color:magenta
}
.f{
    color:coral
}
.g{
color:cornflowerblue
}

